@import "tailwindcss";
@config "./tailwind.config.js";

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

@media (min-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1536px) {
  html {
    font-size: 14px;
  }
}

body {
  cursor: auto;
}

.bg-noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  pointer-events: none;
  opacity: 0.04;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

a,
button,
[role='button'],
input[type='button'],
input[type='submit'],
input[type='reset'] {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5efe6;
}

::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0d9bc;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}
